extends ../layout

block content
  section.page-header: div.container
    h1 My Account

  section: div.container
    div.row
      div.col-md-8.col-md-offset-2
        ul.nav.nav-tabs.nav-top-border
          li.active: a(href="#general" data-toggle="tab") General Info
          li: a(href="#player" data-toggle="tab") Player Profile
          li: a(href="#social" data-toggle="tab") Social
          li: a(href="#settings" data-toggle="tab") Settings
        div.tab-content.marging-top-20
          div#general.tab-pane.fade.in.active
            form.form-horizontal(action='/account/profile', method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              .form-group
                label.col-sm-3.control-label(for='email') Email
                .col-sm-7
                  input.form-control(type='email', name='email', id='email', value=user.displayName)
              .form-group
                label.col-sm-3.control-label(for='name') Name
                .col-sm-7
                  input.form-control(type='text', name='name', id='name', value=user.name)
              .form-group
                label.col-sm-3.control-label Gender
                .col-sm-6
                  label.radio.col-sm-3
                    input(type='radio', checked=user.gender=='male', name='gender', value='male', data-toggle='radio')
                    span Male
                  label.radio.col-sm-3
                    input(type='radio', checked=user.gender=='female', name='gender', value='female', data-toggle='radio')
                    span Female
                  label.radio.col-sm-3
                    input(type='radio', checked=user.gender=='other', name='gender', value='other', data-toggle='radio')
                    span Other
              .form-group
                label.col-sm-3.control-label(for='location') Location
                .col-sm-7
                  input.form-control(type='text', name='location', id='location', value=user.location)
              .form-group
                label.col-sm-3.control-label(for='website') Website
                .col-sm-7
                  input.form-control(type='text', name='website', id='website', value=user.website)
              .form-group
                label.col-sm-3.control-label Gravatar
                .col-sm-4
                  img(src=user.gravatar, class='profile', width='100', height='100')
              .form-group
                .col-sm-offset-3.col-sm-4
                  button.btn.btn.btn-primary(type='submit')
                    i.fa.fa-pencil
                    | Update Profile

          div#settings.tab-pane.fade
            section
              div.container
                h3 Change Password

              form.form-horizontal(action='/account/password', method='POST')
                input(type='hidden', name='_csrf', value=_csrf)
                .form-group
                  label.col-sm-3.control-label(for='password') New Password
                  .col-sm-7
                    input.form-control(type='password', name='password', id='password')
                .form-group
                  label.col-sm-3.control-label(for='confirmPassword') Confirm Password
                  .col-sm-7
                    input.form-control(type='password', name='confirmPassword', id='confirmPassword')
                .form-group
                  .col-sm-offset-3.col-sm-4
                    button.btn.btn-primary(type='submit')
                      i.fa.fa-lock
                      | Change Password
            section
              div.container
                h3 Delete Account

              form.form-horizontal(action='/account/delete', method='POST')
                .form-group
                  p.col-sm-offset-1.col-sm-10 You can delete your account, but keep in mind this action is irreversible.
                  input(type='hidden', name='_csrf', value=_csrf)
                  .col-sm-offset-1.col-sm-10
                    button.btn.btn-danger(type='submit')
                      i.fa.fa-trash
                      | Delete my account
